<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/firebase/firebase.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/js/bundle.js"></script>
  </head>
  <body ng-app='fireApp' ng-controller='mainCtrl'>
    <div class="container">
      <h1>AngularFire!</h1>

      <div ng-hide='authData'>
        Register / Login!
        <div>
          <input type="text" ng-model='newUser.email' placeholder="Email">
          <input type="password" ng-model='newUser.password' placeholder="Password">
          <button ng-click='register(newUser)'>Register</button>
          <button ng-click='login(newUser)'>Login</button>
        </div>
      </div>
      <div ng-show='authData'>
        <button ui-sref='profile'>Profile</button>
        <button ng-click='logout()'>Logout</button>
      </div>

      <button ui-sref='home'>Home</button>
      <button ui-sref='threads'>Threads</button>

      <ui-view></ui-view>
    </div>

  </body>
</html>
